@model ISCAP.Models.PaperDetails

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>PaperDetails</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            ID
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ID)
        </dd>
        <dt>
            Paper Status
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PaperStatus)
        </dd>
        <dt>
            Track ID
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TrackId)
        </dd>
        <dt>
            Paper Title
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PaperTitle)
        </dd>
        <dt>
            Last Update
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastUpdate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
