@model ISCAP.ViewModel.ConferenceScheduleViewModel


<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <input type="button" value="Saturday" onclick="location.href='@Url.Action("Schedule/Saturday", "ConferenceSchedule")'" />
    <input type="button" value="Sunday" onclick="location.href='@Url.Action("Schedule/Sunday", "ConferenceSchedule")'" />
    <input type="button" value="Monday" onclick="location.href='@Url.Action("Schedule/Monday", "ConferenceSchedule")'" />
    <input type="button" value="Tuesday" onclick="location.href='@Url.Action("Schedule/Tuesday", "ConferenceSchedule")'" />
    <input type="button" value="Wednesday" onclick="location.href='@Url.Action("Schedule/Wednesday", "ConferenceSchedule")'" />
    <input type="button" value="Thursday" onclick="location.href='@Url.Action("Schedule/Thursday", "ConferenceSchedule")'" />
    <input type="button" value="Friday" onclick="location.href='@Url.Action("Schedule/Friday", "ConferenceSchedule")'" />

    <table class="table table-inverse">
        @foreach (var s in Model.ConferenceSchedule)
        {
        <tr>
            <td>
                @s.Day
            </td>
            <td>
                @s.MeetingTime
            </td>
            <td>
                @s.EventName
            </td>
        </tr>
        }
    </table>

    <table class="table table-inverse">
        @foreach (var i in Model.SessionDetail)
        {
            <tr>
                <td>@i.location</td>
                <td>@i.chair</td>
                @foreach (var x in Model.Session)
                {
                    if (x.sessionDetailId == i.sessionDetailId)
                    { 
                        <td>@x.title <br/> @x.conference <br/> @x.writers</td>
                    }
                }
            </tr>
        }
    </table>





</body>
</html>