@model ISCAP.ViewModel.ReadConferenceScheduleViewModel


<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
    <input type="button" value="Sunday" onclick="location.href='@Url.Action("Schedule/Sunday", "ConferenceSchedule")'" />
    <input type="button" value="Monday" onclick="location.href='@Url.Action("Schedule/Monday", "ConferenceSchedule")'" />
    <input type="button" value="Tuesday" onclick="location.href='@Url.Action("Schedule/Tuesday", "ConferenceSchedule")'" />
    <input type="button" value="Wednesday" onclick="location.href='@Url.Action("Schedule/Wednesday", "ConferenceSchedule")'" />

    <table class="table table-inverse">
        @foreach (var s in Model.Event)
        {
            <tr>
                <td>
                    @s.Day
                </td>
                <td>
                    @s.MeetingTime
                </td>
                <td>
                    @s.EventName
                </td>
            </tr>
        }
    </table>

    <table class="table table-inverse">
        @foreach (var i in Model.Room)
        {
            <tr>
                <td>@i.roomName</td>
                <td>@i.chair</td>
                @foreach (var x in i.Slot)
                {
                    <td>@x.title <br /> @x.conference <br /> @x.authors</td>
                }
            </tr>
        }
    </table>





</body>
</html>