@model ISCAP.Models.ReviewerPaper

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>ReviewerPaper</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Paper ID
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ID)
        </dd>
        <dt>
            Paper Title
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PaperTitle)
        </dd>
        <dt>
            Paper Status
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PaperStatus)
        </dd>
        <dt>
            Track ID
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TrackId)
        </dd>
        <dt>
            Last Update
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastUpdate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
