@model IEnumerable<ISCAP.Models.ReviewerPaper>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Paper ID
            </th>
            <th>
                Paper Title
            </th>
            <th>
                Paper Status
            </th>
            <th>
                Track ID
            </th>
            <th>
                Last Update
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PaperTitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PaperStatus)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TrackId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastUpdate)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                </td>
            </tr>
        }
    </tbody>
</table>
