@model IEnumerable<ISCAP.Models.Room>

@{
    ViewData["Title"] = "Index";
}

<h2>Manage Rooms</h2>

<p>
    <a asp-action="Create">Add New Room</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.roomName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.capacity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.chair)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.roomName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.capacity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.chair)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.roomId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.roomId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.roomId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
